/* Using SASS variable, Nesting and Inheritance - Reffer to .scss file */

/* Using SASS Variable */
$padding: 40px;
$colorwhite: #ffffff ;
$bannercolor: linear-gradient(150deg, rgba(1,44,105,1) 27%, rgba(1,106,161,1) 63%, rgba(0,212,255,1) 100%);

%colpadding {
	background: #012c69;
	padding:$padding 16px;
}

/* Using SASS Nesting and Inheritance */
#home-content {
	@extend %colpadding;
<<<<<<< HEAD
	.homevision, .homemission {
=======
	.homevision, .homemission, .blooddonor {
>>>>>>> 78e5bcb... updated files again
		padding:$padding;
		margin:16px;
		border-radius: 16px;
	}
}

#home-profile {
	padding:$padding;
}

#banner {
	background: rgb(1,44,105);
	background: $bannercolor;
	padding:40px;
}

.homemission {
	background: rgb(251,157,219);
	background: linear-gradient(345deg, rgba(251,157,219,1) 0%, rgba(136,0,255,1) 100%);
}

<<<<<<< HEAD
.homevision {
=======
.homevision, .blooddonor {
>>>>>>> 78e5bcb... updated files again
	background: rgb(63,94,251);
	background: linear-gradient(150deg, rgba(63,94,251,1) 0%, rgba(178,90,255,1) 100%);
}

#home-profile h3 {
	color:$colorwhite;
	padding-bottom: 16px;
}

#home-profile p {
	color:$colorwhite;
}

h1 {
	color:$colorwhite;
}

h3 {
	color:#a4d0ff;
}

p {
	color:#f5deb3;
}

<<<<<<< HEAD
=======
#home-lists > ul {
	list-style-type: square;
	color: white;
}

#home-contact{
	color:white;
}
#home-contact button{
	margin-top:24px;
	color:white;
	border:2px solid white;
}

>>>>>>> 78e5bcb... updated files again
section a {
    color: #343a40 !important;
}

/* Using SASS Nesting */
.nav {
	display: flex;
	a {
	    color: $colorwhite ;
	}
}
table {
	background-color:$colorwhite;
<<<<<<< HEAD
=======
	margin:auto;
>>>>>>> 78e5bcb... updated files again
	th {
		background: $bannercolor;
		color:$colorwhite;
	}
	th {
		color:#00000;
	}
}
<<<<<<< HEAD

=======
>>>>>>> 78e5bcb... updated files again
.nav-pills .nav-link {	
    border-radius: 0.10rem;
    margin: 8px 0px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: $colorwhite !important;
    background: linear-gradient(150deg, rgba(1,106,161,1) 0%, rgba(0,212,255,1) 100%);
}

footer.container {
    padding: 0px;
}

<<<<<<< HEAD
=======
/* Using SASS Nesting and @media query */
@media screen and (max-width: 900px) {
	.homevision, .homemission, .blooddonor {	
		border: 5px solid white;
		p:hover{
		   background: blue;
		   color: yellow;
		}		
	}
}
@media screen and (max-width: 600px) {
	.homevision, .homemission, .blooddonor {
	    background: black;
	    color: #4ba2ff;
	    border: 5px dashed white;

	    h4:after{
		   content: "\2605";
		   position: absolute;
		}
		h4:hover{
		   background: white;
		   color: linear-gradient(150deg, rgba(1,106,161,1) 0%, rgba(0,212,255,1) 100%);
		}
	}
}
>>>>>>> 78e5bcb... updated files again
